@charset "utf-8";
/* CSS Document */


.centre {
	text-align: center;
}

h1 {
	text-align: center;
}

.code {
	border: 1px dotted black;
	padding: 5px;
}


/* Calendrier */
table.calendrier {
	margin: auto;
	text-align: center;
	border-collapse: collapse;
}

table.calendrier th {
	color: #9B8079;
	font-weight: bold;
	padding: 10px;
}

table.calendrier td {
	padding: 10px;
	width: 30px;
	height: 30px;
	font-weight: bold;
}

table.calendrier td:nth-child(1n+6){
	color: #FF0000;
}
table.calendrier td div {
	padding: 0px;
}
.moisagenda{
	color: #FC8C00;
	padding-top: 10px;

}
.jourEvenement {
	background-color: #FC8C00;
}
.arrowleft{
	color: red;
}
.lienCalendrierJour {
	background-color: #FDE19A;
}

.calendrier caption {
	margin: auto;
	margin-bottom: 5px;
	font-weight: bold;
}


/* Administration */
#tabAjoutEvent {
	margin: auto;
}
#tabAjoutEvent td {
	width: 50%;
	text-align:center;
}


/* Infobulles */
a.info {
	position: relative;
	color: black;
	text-decoration: none;
	display: block;
}
a.info span {
	display: none; /* on masque l'infobulle */
}
a.info:hover {
	background: none; /* correction d'un bug IE */
	z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
}
a.info:hover span {
	display: inline; /* on affiche l'infobulle */
	position: absolute;

	white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */

	top: 30px; /* on positionne notre infobulle */
	left: 20px;
	
	text-align: left;
	background: white;
	padding: 3px;
	border: 1px solid black;
}

/* Liste des événements à supprimer */
table.listeEvent {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

table.listeEvent td {
	padding: 5px;
}
